<% content_for :title, "New invoice" %>

<div class="d-flex align-items-center">
  <h1>New Invoice</h1>
  <%= link_to "Back", invoices_path, class: "btn btn-sm btn-dark ms-auto" %>
</div>

<%= render "form", invoice: @invoice %>
