<% content_for :title, "New Invoice" %>

<%= link_to invoices_path, class: "back-link" do %>
  <i class="bi bi-arrow-left"></i> Invoices
<% end %>

<div class="card-andes p-4">
  <h1 class="mb-4">New Invoice</h1>
  <%= render "form", invoice: @invoice %>
</div>
