<% content_for :title, "Edit issuer" %>

<div class="d-flex align-items-center">
  <h1>Edit Issuer</h1>
  <%= button_to "", @issuer, method: :delete, class: "btn btn-sm btn-danger bi bi-trash ms-3" %>
  <%= link_to "Back", issuers_path, class: "btn btn-sm btn-dark ms-auto" %>

</div>

<%= render "form", issuer: @issuer %>
