<% content_for :title, "New Issuer" %>

<%= link_to issuers_path, class: "back-link" do %>
  <i class="bi bi-arrow-left"></i> Issuers
<% end %>

<div class="card-andes p-4">
  <h1 class="mb-4">New Issuer</h1>
  <%= render "form", issuer: @issuer %>
</div>
