<% content_for :title, "New Recipient" %>

<%= link_to recipients_path, class: "back-link" do %>
  <i class="bi bi-arrow-left"></i> Recipients
<% end %>

<div class="card-andes p-4">
  <h1 class="mb-4">New Recipient</h1>
  <%= render "form", recipient: @recipient %>
</div>
